:root{
    --highlight:#4242aa;
}
*{
    transition: all 0.2s ease-out;
    font-family: 'jetbrains mono';
}
.footerbox{
    position: sticky;
    bottom: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:5vw;
    padding-right:5vw;
    height: min-content;
    overflow: hidden;
    background: linear-gradient(to top, var(--background),#00000000);
    backdrop-filter: blur(5px);
}
.links ul li{
    list-style: none;
    text-decoration: underline transparent;
    &:hover{
        color: var(--highlight);
        text-decoration: underline var(--highlight);

    }
}